package ${package.Mapper}.ext;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package.Mapper}.${table.mapperName};
import ${package.Entity}.${entity};
/**
 * <p>
 * $!{table.comment} MapperExt 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName}Ext : ${table.mapperName}, BaseMapper<${entity}>
#else
public interface ${table.mapperName}Ext extends ${table.mapperName}, BaseMapper<${entity}> {

}
#end
