<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.sailboat.notes.repository.slave.mapper.DeliverySupplyRelationMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.github.sailboat.notes.repository.slave.po.DeliverySupplyRelationEntity">
            <id column="id" property="id"/>
            <result column="order_row_id" property="orderRowId"/>
            <result column="device_demand_id" property="deviceDemandId"/>
            <result column="spu_id" property="spuId"/>
            <result column="supply_code" property="supplyCode"/>
            <result column="warehouse_id" property="warehouseId"/>
            <result column="warehouse_name" property="warehouseName"/>
            <result column="num" property="num"/>
            <result column="type" property="type"/>
            <result column="tenant_id" property="tenantId"/>
            <result column="created_by" property="createdBy"/>
            <result column="created_at" property="createdAt"/>
            <result column="updated_by" property="updatedBy"/>
            <result column="updated_at" property="updatedAt"/>
            <result column="object_id" property="objectId"/>
            <result column="deleted" property="deleted"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            created_by,
            created_at,
            updated_by,
            updated_at,
            object_id,
            deleted,
            id, order_row_id, device_demand_id, spu_id, supply_code, warehouse_id, warehouse_name, num, type, tenant_id
        </sql>

</mapper>
